/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%; 
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}
